<link rel="stylesheet" href="/app.css">


<h1>JOIN US</h1>

<p>Enter your email to join <strong> <%=data%> </strong> others on our waitlist. </p>

<form method="POST" action="/register">
    <input type="text" name= "email" class="form" placeholder="Enter your Email">
    <button>Join Now</button>
</form>